<div class="col-xs-8 col-xs-offset-2">
 <h1>口コミの編集</h1>
  <%= render 'form' %>
  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-review">口コミを削除する</button>
</div>
